{
    "plugins": ["es6"],
    "rules": {
       // "es5/no-arrow-functions": "error"
    },
    "env": {
       "es6": true,
       "node": true
   },
   "parserOptions": {
    // Required for certain syntax usages
    "ecmaVersion": 2017
  },
    "extends": ["eslint:recommended"]
 }